body {
    display: flex;
    flex-direction: column;
}

.header {
    background: #1F2937;
    display: flex;
    font-family: Hero 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 0px 48px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a { text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;

}

.logo {
    font-size: 24px;
    color: #F9faf8
}

.first {
    display: flex;
    padding: 24px 48px;
    background: #1F2937;
    gap: 48px;
    align-items: center;
}

.container {
    align-self: flex-start;
}

button.sign-up {
    padding: 4px 16px;
    background: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    border-radius: 8px;
}

img.wide {
    height: 200px;
    width: 400px;
    align-self: baseline;
}

text.awesome {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

p {
    padding: 0px;
    font-size: 18px;
    color: #E5E7EB
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 100;
    width: 100;
}